:root {
    --dark-blue: rgb(15, 25, 55);
    /* HEADER COLOR*/
    --light-blue: rgb(61, 176, 228);
    --gray: rgb(165, 167, 170);
    --white: #ffffff;
    --orange: #FF8C42;
    --dark-gray: #333333;
    /* FOOTER*/
}

body {
    background-color: var(--white);
    color: var(--dark-gray);
}

h1,
h2,
h3 {
    color: var(--dark-blue);
}

button {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 10px 20px;
}