.navbar {
    background-color: var(--dark-blue);
    padding: 20px 30px; /* زيادة الـ padding */
}

.navbar-brand {
    display: flex;
    align-items: center;
    max-width: 250px; /* زيادة العرض الأقصى */
    max-height: 100px; /* زيادة الارتفاع الأقصى */
    overflow: hidden;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 80px; /* زيادة الارتفاع الأقصى للصورة */
    width: auto;
    height: auto;
    object-fit: contain;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* زيادة المسافة بين عناصر القائمة */
}

.nav-link {
    color: var(--white) !important;
    font-weight: var(--font-weight-semibold) !important;
    font-size: 18px; /* زيادة حجم الخط */
}

.navbar-toggler {
    color: var(--gray) !important;
}

.navbar-toggler-icon {
    color: var(--white);
}

.navbar.a::after {
    content: ' ';
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    background-color: var(--light-blue);
    bottom: -3px;
}

.navbar.a:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--light-blue) !important;
}

.dropdown-menu {
    border: 1px solid var(--light-blue);
    box-shadow: 0px 8px 16px rgba(15, 15, 15, 0.1);
    border-radius: 1px;
    padding: 10px 0;
    background-color: var(--white);
}

.dropdown-item {
    color: var(--dark-gray);
    padding: 8px 16px;
    font-weight: var(--font-weight-medium);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: var(--dark-blue);
    color: var(--white);
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.social-icons:hover {
    background-color: var(--light-blue);
}

.social-icons a {
    color: var(--white);
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: var (--light-blue);
    transform: scale(1.2);
}

.nav-link:active {
    color: gray !important;
}

.nav-link:focus {
    color: gray !important;
}

.dropdown-item:active,
.dropdown-item:focus {
    color: gray !important;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 200px;
    }
    
    .navbar-brand img {
        max-height: 60px;
    }
}

 
body.rtl .ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

body.rtl .me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

body.rtl .ms-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important;
}       